.card-container {
  display: flex;
  flex-direction: column;
  background-color: #474547;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

/* .card-container:hover {
  transform: scale(1.05);
} */

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 318px;
  border: 1px solid #f1f1f1;
  border-radius: 5%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: rgb(94, 66, 97); */
  color: whitesmoke;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}

.flip-card.is-flipped {
  transform: rotateY(180deg);
}